{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{{ 'quantity-popover.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- unless settings.cart_type == 'drawer' -%}
  <script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
{%- endunless -%}

<script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>

<cart-items class="gradient color-{{ section.settings.color_scheme }} isolate{% if cart == empty %} is-empty{% else %} section-{{ section.id }}-padding{% endif %}">
  <div class="page-width">
    <div class="title-wrapper-with-link">
      <h1 class="title title--primary">{{ 'sections.cart.title' | t }}</h1>
      <a href="{{ routes.all_products_collection_url }}" class="underlined-link">
        {{- 'general.continue_shopping' | t -}}
      </a>
    </div>

    <div class="cart__warnings">
      <h1 class="cart__empty-text">{{ 'sections.cart.empty' | t }}</h1>
      <a href="{{ routes.all_products_collection_url }}" class="button"> {{ 'general.continue_shopping' | t }} </a>

      {%- if shop.customer_accounts_enabled and customer == null -%}
        <h2 class="cart__login-title">{{ 'sections.cart.login.title' | t }}</h2>

        <p class="cart__login-paragraph">
          {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
        </p>
      {%- endif -%}
    </div>

    <!-- Cart Area Strat -->
    <section class="cart-area pt-130 pb-130">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-12">
            <form action="#">
              <div class="table-content table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="product-thumbnail">Images</th>
                      <th class="cart-product-name">Product</th>
                      <th class="product-price">Unit Price</th>
                      <th class="product-quantity">Quantity</th>
                      <th class="product-subtotal">Total</th>
                      <th class="product-remove">Remove</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="product-thumbnail">
                        <a
                          href="#"
                          ><img
                            src="assets/img/product/product-details-2.jpg"
                            alt=""
                        ></a>
                      </td>
                      <td class="product-name">
                        <a
                          href="#"
                          >Evo Granite Chair</a
                        >
                      </td>
                      <td class="product-price"><span class="amount">$130.00</span></td>
                      <td class="product-quantity text-center">
                        <div class="tp-shop-quantity">
                          <div class="tp-quantity p-relative">
                            <div class="qty_button cart-minus tp-cart-minus">
                              <i
                                class="fal fa-minus"
                              ></i>
                            </div>
                            <input type="text" value="1">
                            <div class="qty_button cart-plus tp-cart-plus">
                              <i
                                class="fal fa-plus"
                              ></i>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td class="product-subtotal"><span class="amount">$130.00</span></td>
                      <td class="product-remove">
                        <a href="cart.html#"
                          ><i
                            class="fa fa-times"
                          ></i
                        ></a>
                      </td>
                    </tr>
                    <tr>
                      <td class="product-thumbnail">
                        <a
                          href="#"
                          ><img
                            src="assets/img/product/product-details-1.jpg"
                            alt=""
                        ></a>
                      </td>
                      <td class="product-name">
                        <a
                          href="#"
                          >Miko Wooden Chair</a
                        >
                      </td>
                      <td class="product-price"><span class="amount">$120.00</span></td>
                      <td class="product-quantity text-center">
                        <div class="tp-shop-quantity">
                          <div class="tp-quantity p-relative">
                            <div class="qty_button cart-minus tp-cart-minus">
                              <i
                                class="fal fa-minus"
                              ></i>
                            </div>
                            <input type="text" value="1">
                            <div class="qty_button cart-plus tp-cart-plus">
                              <i
                                class="fal fa-plus"
                              ></i>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td class="product-subtotal"><span class="amount">$120.00</span></td>
                      <td class="product-remove">
                        <a href="cart.html#"
                          ><i
                            class="fa fa-times"
                          ></i
                        ></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="coupon-all">
                    <div class="coupon d-flex align-items-center">
                      <input type="text" class="#coupon-code" placeholder="coupon code">
                      <button
                        class="tp-btn-square cartbtn"
                        name="apply_coupon"
                        type="submit"
                      >
                        Apply
                      </button>
                    </div>
                    <div class="coupon2">
                      <button
                        class="tp-btn-square cartbtn"
                        name="update_cart"
                        type="submit"
                      >
                        Update cart
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-4 col-12">
            <div class="cart-page-total totalcart">
              <h2 class="text-white">Cart totals</h2>
              <ul class="mb-20">
                <li class="totalcartcal"><span>Subtotal</span> <span>$250.00</span></li>
                <li class="totalcartcal"><span>Shipping & handling charges </span><span>$50.00</span></li>
                <li class="totalcartcal"><span>Discount (Coupon AB4556T)</span><span>-$100.00</span></li>
                <li class="totalcartcal"><span>Total</span> <span>$200.00</span></li>
              </ul>
              <a class="tp-btn-square totalcartbtn text-center w-100" href="#">Proceed to checkout</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Cart Area End -->
  </div>
</cart-items>

<style>
  .cart-sidebar-discount {
    display: flex;
    flex-direction: column;
    width:300px;
    margin: 20px auto;
  }
  .cart-sidebar-discount input {
    margin-top:20px;
    background: #eee;
    border: 1px solid #eee;
    height:50px;
    outline: none;
    font-size: 18px;
    letter-spacing: .75px;
    text-align: center;
  }
  #apply-discount-btn {
    background-color: #000;
    color:#fff;
    border: 0;
    height: 60px;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .75px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  span.applied-discount-code-value>small {
    background: #eee;
    padding: 0px 10px;
    color: #000;
    font-weight: bold;
    border-radius: 20px;
  }
  .loader {
    border: 5px solid #f3f3f3;
    border-top: 4px solid #000;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin .5s linear infinite;
  }
  #discount-code-error {
    background: #ff00004f;
    color: #e22120;
    padding: 5px;
    border-radius: 4px;
    font-size: 13px;
    line-height: 1;
  }
  .applied-discount-code-wrapper {
    display: none;
    background: #ddd;
    padding: 3px 6px;
    border-radius: 25px;
  }
  .applied-discount-code-value {
    font-size: 13px;
    text-transform: uppercase;
  }

  #discount-code-error:empty {
    display: none;
  }
  .applied-discount-code-value:empty+button {
    display: none;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
</style>

<div class="cart-sidebar-discount">
  <span id="applied-discount-code">
    Discount Code:
    <span class="applied-discount-code-wrapper">
      <span class="applied-discount-code-value"></span>
      <button id="clear-discount-btn">X</button>
    </span>
  </span>
  <small id="discount-code-error"></small>
  <input type="text" id="discount-code-input" autocomplete="on" value="">
  <button id="apply-discount-btn">APPLY</button>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    let clearBtn = document.querySelector("#clear-discount-btn");
    let applyBtn = document.querySelector("#apply-discount-btn");
    let discountCodeError = document.querySelector("#discount-code-error");
    let discountCodeWrapper = document.querySelector("#applied-discount-code .applied-discount-code-wrapper");
    let discountCodeValue = document.querySelector("#applied-discount-code .applied-discount-code-value");
    let discountCodeInput = document.querySelector("#discount-code-input");
    let totalCartSelector = document.querySelector(".cart__subtotal .money"); // Total Cart Selector to update the total amount.
    let authorization_token;

    let checkoutContainer = document.createElement('div');
    document.body.appendChild(checkoutContainer);
    if (localStorage.discountCode) applyDiscount( JSON.parse(localStorage.discountCode).code);
    if(applyBtn)
    applyBtn.addEventListener("click", function(e){
      e.preventDefault()
      applyDiscount(discountCodeInput.value);
    });
    if(clearBtn)
    clearBtn.addEventListener("click", function(e){
      e.preventDefault()
      clearDiscount();
    });
    function clearDiscount() {
      discountCodeValue.innerHTML = "";
      discountCodeError.innerHTML = "";
      clearLocalStorage();
      fetch("/discount/CLEAR");
    }
    function clearLocalStorage() {
      if(discountCodeWrapper) discountCodeWrapper.style.display = "none";
      if(totalCartSelector) totalCartSelector.innerHTML = JSON.parse(localStorage.discountCode).totalCart;
      localStorage.removeItem("discountCode");
    }
    function applyDiscount(code) {
      if(applyBtn) {
        applyBtn.innerHTML = "APPLYING <div class='loader'></div>";
        applyBtn.style.pointerEvents = "none";
      }
      fetch("/payments/config", {"method": "GET"})
      .then(function(response) { return response.json() })
      .then(function(data) {
          const checkout_json_url = '/wallets/checkouts/';
          authorization_token = btoa(data.paymentInstruments.accessToken)
          fetch('/cart.js', {}).then(function(res){return res.json();})
          .then(function(data){
          let body = {"checkout": { "country": Shopify.country,"discount_code": code,"line_items": data.items, 'presentment_currency': Shopify.currency.active } }
          fetch(checkout_json_url, {
            "headers": {
              "accept": "*/*", "cache-control": "no-cache",
              "authorization": "Basic " + authorization_token,
              "content-type": "application/json, text/javascript",
              "pragma": "no-cache", "sec-fetch-dest": "empty",
              "sec-fetch-mode": "cors", "sec-fetch-site": "same-origin"
            },
            "referrerPolicy": "strict-origin-when-cross-origin",
            "method": "POST", "mode": "cors", "credentials": "include",
            "body": JSON.stringify(body)
        })
        .then(function(response) { return response.json() })
        .then(function(data) {
          console.log(data.checkout);
          if(data.checkout && data.checkout.applied_discounts.length > 0){
            let discountApplyUrl = "/discount/"+code+"?v="+Date.now()+"&redirect=/checkout/";
            fetch(discountApplyUrl, {}).then(function(response) { return response.text(); })
            if(discountCodeWrapper) discountCodeWrapper.style.display = "inline";
            if(discountCodeError) discountCodeError.innerHTML = "";
            if(discountCodeValue) discountCodeValue.innerHTML = data.checkout.applied_discounts[0].title + " (" + data.checkout.applied_discounts[0].amount + ' ' + Shopify.currency.active + ")";
            let localStorageValue = {
              'code': code.trim(),
              'totalCart': data.checkout.total_line_items_price
            };
            localStorage.setItem("discountCode", JSON.stringify(localStorageValue));
            if(totalCartSelector) totalCartSelector.innerHTML = "<s>" + data.checkout.total_line_items_price + "</s>" + data.checkout.total_price;
          }else{
            if(discountCodeValue) discountCodeValue.innerHTML = "";
            clearLocalStorage();
            if(discountCodeError) discountCodeError.innerHTML = "Please Enter Valid Coupon Code."
          }
        }).finally(function(params) {
          if(applyBtn){
            applyBtn.innerHTML = "APPLY";
            applyBtn.style.pointerEvents = "all";
          }
      });
      });
    });
  }
  });
</script>
{% schema %}
{
  "name": "Section name",
  "settings": []
}
{% endschema %}
