<div class="tp-slider-5__area purple-bg p-relative">
  <div class="tp-slider-5__space p-relative">
    <div class="container custom-container-4">
      <div class="row align-items-center">
        <div class="col-xl-7 col-lg-7">
          <div class="tp-slider-5__wrapper p-relative">
            <div class="tp-slider-5__shape-1">
              <img src="https://cdn.shopify.com/s/files/1/0901/0905/1182/files/shape-5-1.png" alt="">
            </div>
            <div class="tp-slider-5__shape-2">
              <img src="https://cdn.shopify.com/s/files/1/0901/0905/1182/files/shape-5-2.png" alt="">
            </div>
          </div>

          <div
            class="swiper-container tp-slider-5__active swiper-container-fade swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events"
          >
            <div
              class="swiper-wrapper"
              id="swiper-wrapper-2eea84b13959101af"
              aria-live="polite"
              style="transition-duration: 0ms;"
            >
              {% assign blocks = section.blocks | where: 'type', 'bannerImage' %}
              {% for block in blocks %}
                <div
                  class="swiper-slide swiper-slide-next swiper-slide-duplicate-prev"
                  data-swiper-slide-index="{{ forloop.index | minus: 1 }}"
                  role="group"
                  aria-label="{{ forloop.index }} / 5"
                  style="width: 639px; opacity: 1; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;"
                >
                  <div class="tp-slider-5__thumb-box p-relative">
                    <div class="tp-slider-5__main-thumb text-end">
                      <img
                        src="{{ block.settings.ban-img | img_url: 'master' }}"
                        alt=""
                      >
                      <!--
                        <div class="tp-slider-5__thumb-text d-none d-xl-block">
                          <span
                            >16% <br>
                            <strong>off</strong></span
                          >
                        </div>
                      -->
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>

            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
          </div>
        </div>

        <div class="col-xl-5 col-lg-5">
          <div class="tp-slider-5__left-box">
            <div class="tp-slider-5__section-box">
              <span
                class="tp-hero-5-subtitle wow tpfadeUp"
                data-wow-duration=".9s"
                data-wow-delay=".3s"
              >
                {{- section.settings.title -}}
              </span>
              <h3
                class="tp-hero-5-title wow tpfadeUp"
                data-wow-duration=".9s"
                data-wow-delay=".5s"
              >
                <span class="p-relative">
                  {{- section.settings.heading }}
                  <span class="tp-title-shape">
                    <svg
                      width="298"
                      height="4"
                      viewBox="0 0 298 4"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                          d="M294.043 3.21678C294.956 3.21678 296.478 3.18881 297.391 3.24476C295.87 3.24476 294.348 3.27273 293.13 3.27273C292.522 3.32867 294.043 3.35664 294.652 3.38462C295.87 3.38462 297.087 3.38462 298 3.44056C297.087 3.46853 295.87 3.46853 294.652 3.46853C293.435 3.46853 291.913 3.44056 291 3.4965C291.913 3.52448 291.913 3.52448 291.913 3.58042C289.783 3.60839 289.783 3.77622 286.435 3.72028C285.217 3.72028 284 3.72028 282.782 3.72028C281.261 3.83217 279.435 3.94406 275.478 3.88811C274.261 3.91608 273.043 3.91608 271.826 3.88811C268.478 3.94406 265.13 3.91608 261.782 3.94406C261.478 3.97203 261.174 3.97203 260.869 3.94406C259.652 3.94406 258.434 3.94406 257.217 3.94406H256.913H256.608C255.391 3.94406 254.478 3.97203 253.26 3.94406C249 3.94406 244.434 3.94406 240.173 3.97203C237.434 3.97203 235.304 3.94406 233.782 3.86014H233.478H233.173C232.26 3.91608 232.565 4 229.521 4C226.478 3.97203 223.434 3.97203 220.086 3.97203C217.956 3.94406 215.825 4 213.695 3.97203C206.086 3.94406 198.477 3.94406 190.869 3.91608C184.173 3.91608 177.477 3.88811 170.781 3.86014C168.347 3.91608 165.912 3.86014 163.781 3.86014C151.607 3.83217 139.129 3.83217 126.955 3.74825C121.477 3.72028 115.998 3.74825 110.52 3.69231C105.65 3.69231 101.085 3.66434 96.2154 3.63636C84.9545 3.58042 73.6935 3.52448 62.7369 3.41259C58.1716 3.41259 53.9107 3.38462 49.9541 3.3007C43.5628 3.3007 37.4758 3.21678 31.6931 3.13287C30.78 3.13287 30.1714 3.1049 29.5627 3.1049C27.1278 3.13287 25.3017 3.07692 23.1713 3.02098C21.6495 3.02098 20.4321 2.99301 19.5191 2.96504C18.606 2.93706 17.693 2.93706 16.7799 2.90909C15.8669 2.85315 14.3451 2.85315 12.8233 2.85315C10.3885 2.7972 7.34503 2.76923 6.73633 2.62937C2.17108 2.6014 0.953674 2.48951 1.25803 2.34965C-0.568085 2.18182 -0.263733 2.01399 1.25803 1.84615C1.25803 1.76224 1.25803 1.67832 1.25803 1.59441V1.56643C0.649323 1.37063 3.99716 1.2028 3.08411 1.03497C2.77975 0.895105 4.60587 0.783217 5.82327 0.671329C5.82327 0.643357 5.82327 0.587413 7.04068 0.559441C7.34503 0.531469 8.25812 0.503497 9.47552 0.475525C10.9973 0.363636 12.8233 0.27972 15.8668 0.251748C16.4755 0.195804 17.6929 0.223776 18.606 0.223776C19.519 0.195804 20.4321 0.167832 21.3452 0.13986C22.2582 0.111888 23.1712 0.111888 24.0843 0.111888C27.7365 0.0559441 31.3887 0.027972 35.3453 0.027972C36.867 0.027972 38.0844 0.027972 39.6062 0.027972C40.2149 0.027972 41.128 0.027972 41.7367 0C49.9541 0 58.476 0 66.6935 0.027972C70.9544 0.027972 75.2152 0 79.4761 0.0839161C83.1284 0.0839161 87.3893 0.027972 91.3458 0.111888C92.2589 0.111888 93.1719 0.111888 93.7806 0.111888C96.5198 0.0839161 98.9546 0.0839161 101.694 0.111888C108.39 0.111888 115.085 0.13986 121.477 0.167832C123.607 0.167832 126.042 0.13986 127.868 0.195804C129.085 0.223776 130.303 0.223776 131.52 0.195804C135.477 0.195804 139.433 0.195804 143.39 0.223776C143.999 0.223776 144.607 0.223776 145.216 0.223776C146.738 0.251748 148.564 0.223776 150.086 0.251748C152.216 0.251748 154.651 0.251748 156.781 0.251748C158.607 0.251748 160.738 0.251748 162.26 0.27972C163.477 0.27972 164.694 0.27972 165.912 0.27972C168.347 0.27972 171.086 0.251748 173.521 0.307692C178.086 0.307692 182.651 0.335664 186.912 0.335664C194.216 0.335664 201.521 0.391608 208.825 0.41958C211.26 0.41958 213.39 0.41958 215.825 0.447553C213.695 0.447553 211.26 0.447553 209.13 0.447553C211.26 0.41958 213.695 0.41958 215.825 0.447553C219.782 0.447553 223.434 0.447553 227.086 0.503497C228.608 0.503497 230.13 0.503497 231.652 0.531469C231.956 0.531469 232.26 0.531469 232.565 0.531469C235.912 0.531469 239.26 0.559441 242.608 0.615385C245.652 0.615385 248.391 0.671329 251.13 0.699301C252.652 0.699301 254.173 0.699301 255.695 0.755245C258.434 0.783217 260.869 0.811189 261.782 0.895105C263.608 0.839161 264.826 0.895105 266.348 0.923077C267.869 0.979021 267.261 1.06294 269.087 1.11888C268.174 1.11888 267.261 1.11888 266.348 1.11888C266.652 1.14685 266.956 1.17483 267.261 1.17483C269.391 1.23077 271.521 1.25874 273.652 1.28671C273.956 1.28671 274.261 1.28671 274.565 1.28671C276.695 1.28671 279.13 1.25874 280.956 1.31469H281.261C281.261 1.31469 281.261 1.34266 280.956 1.34266C279.739 1.34266 278.522 1.34266 277.608 1.34266H277.304C278.826 1.31469 280.043 1.31469 280.956 1.34266C281.565 1.45455 279.739 1.48252 279.13 1.53846C279.435 1.56643 277.913 1.59441 279.13 1.62238C280.043 1.62238 281.565 1.59441 281.261 1.65035C280.956 1.70629 279.13 1.67832 278.217 1.67832C277.913 1.67832 277.608 1.70629 277.304 1.70629C279.739 1.79021 282.174 1.81818 284.609 1.87413C288.261 1.87413 289.783 1.98601 291.913 2.06993C292.522 2.0979 293.435 2.06993 293.739 2.0979C291.913 2.0979 292.826 2.18182 291.609 2.20979C287.348 2.26573 287.348 2.34965 291.304 2.46154C292.522 2.48951 294.956 2.51748 295.565 2.6014C295.565 2.62937 295.565 2.65734 295.565 2.65734C296.174 2.65734 296.783 2.65734 296.783 2.68531C296.478 2.74126 295.565 2.71329 294.652 2.71329C294.043 2.71329 293.13 2.71329 292.826 2.74126C293.435 2.82518 293.13 2.85315 291.304 2.85315C291.913 2.90909 293.739 2.88112 293.435 2.96504C294.348 2.96504 294.956 2.99301 295.87 2.99301C294.956 3.04895 293.13 2.99301 292.826 3.04895C293.739 3.1049 293.739 3.13287 292.217 3.1049C291 3.1049 289.478 3.07692 291 3.16084C291.913 3.16084 293.13 3.16084 294.043 3.21678ZM8.56238 1.48252C8.25803 1.48252 8.25806 1.48252 8.25806 1.51049C8.25806 1.48252 8.56238 1.48252 8.56238 1.48252ZM85.2588 1.9021C85.5632 1.93007 85.5632 1.9021 85.8675 1.9021C85.5632 1.9021 85.2588 1.9021 85.2588 1.9021ZM123.303 2.32168C122.998 2.32168 122.998 2.32168 123.303 2.32168V2.32168ZM97.7372 2.01399C97.7372 1.98601 97.7372 1.98601 97.7372 2.01399V2.01399ZM83.4327 2.54545C83.1284 2.54545 83.1284 2.54545 82.824 2.51748C82.824 2.51748 82.5197 2.51748 82.5197 2.54545C82.824 2.54545 83.1284 2.54545 83.4327 2.54545ZM49.6498 2.18182C49.9541 2.15385 49.6498 2.15385 49.6498 2.18182V2.18182ZM98.9546 2.7972C99.259 2.7972 99.259 2.7972 98.9546 2.7972V2.7972ZM92.8676 2.71329C92.5632 2.71329 92.5632 2.74126 91.9545 2.74126C92.2589 2.71329 92.5632 2.71329 92.8676 2.71329ZM35.0409 2.18182C35.0409 2.20979 35.0409 2.20979 35.0409 2.18182V2.18182ZM224.043 1.62238C224.043 1.62238 224.043 1.59441 223.738 1.62238C223.738 1.62238 223.738 1.62238 223.434 1.62238C223.738 1.62238 223.738 1.62238 224.043 1.62238ZM248.695 2.62937C248.695 2.6014 249 2.6014 249 2.57343C248.391 2.6014 248.391 2.6014 248.695 2.62937ZM177.477 3.02098C177.477 3.02098 177.173 3.02098 177.173 3.04895C177.477 3.04895 178.086 3.04895 178.39 3.04895C178.086 3.02098 177.781 3.02098 177.477 3.02098ZM196.651 1.45455C196.651 1.42657 196.651 1.42657 196.651 1.45455C196.651 1.42657 196.347 1.42657 196.651 1.45455ZM242.913 1.84615C243.217 1.84615 243.217 1.84615 242.913 1.84615C243.217 1.81818 243.521 1.81818 243.521 1.79021C243.217 1.79021 242.913 1.79021 242.608 1.79021C242.913 1.81818 242.913 1.81818 242.913 1.84615ZM239.565 1.37063C239.26 1.3986 239.26 1.3986 239.565 1.37063V1.37063ZM151.607 3.41259C151.607 3.44056 151.607 3.44056 151.303 3.46853C151.607 3.46853 151.912 3.46853 152.216 3.46853C151.912 3.44056 151.912 3.44056 151.607 3.41259ZM213.695 0.867133C213.999 0.867133 213.999 0.867133 214.304 0.867133C214.304 0.867133 213.999 0.867133 213.695 0.867133ZM124.52 0.531469C124.216 0.531469 124.216 0.531469 124.52 0.531469V0.531469ZM288.261 3.58042C289.478 3.52448 290.391 3.55245 291.609 3.58042C290.696 3.58042 289.478 3.58042 288.261 3.58042ZM162.868 0.335664C163.173 0.335664 163.477 0.335664 163.781 0.363636C163.173 0.335664 162.868 0.335664 162.868 0.335664Z"
                          fill="#FF8617" />
                    </svg>
                  </span>
                </span>
              </h3>
            </div>
            <div
              class="tp-slider-5__content-box wow tpfadeUp"
              data-wow-duration=".9s"
              data-wow-delay=".7s"
            >
              <p>{{ section.settings.text }}</p>
              <span>{{ section.settings.pricing }}</span>
              <a class="tp-btn-white" href="{{ section.settings.button-link }}">
                <i>
                  <svg
                    width="26"
                    height="21"
                    viewBox="0 0 26 21"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                        d="M21.96 12.496H10.788C10.6947 12.496 10.6013 12.468 10.508 12.412C10.4333 12.356 10.3773 12.2907 10.34 12.216L5.216 0.483999C5.19733 0.409332 5.14133 0.343999 5.048 0.287998C4.97333 0.231999 4.88933 0.204 4.796 0.204H1.044C0.969333 0.204 0.894667 0.231999 0.82 0.287998C0.764 0.343999 0.736 0.418666 0.736 0.511999V1.436C0.736 1.51067 0.764 1.58533 0.82 1.66C0.894667 1.716 0.969333 1.744 1.044 1.744H3.788C3.88133 1.744 3.96533 1.772 4.04 1.828C4.13333 1.884 4.18933 1.94933 4.208 2.024L9.36 13.756C9.37867 13.8307 9.42533 13.896 9.5 13.952C9.59333 14.008 9.68667 14.036 9.78 14.036H21.96C22.0533 14.036 22.128 14.008 22.184 13.952C22.24 13.8773 22.268 13.8027 22.268 13.728V12.804C22.268 12.7107 22.24 12.636 22.184 12.58C22.128 12.524 22.0533 12.496 21.96 12.496ZM12.272 15.576C11.6373 15.576 11.096 15.8 10.648 16.248C10.2 16.696 9.976 17.2373 9.976 17.872C9.976 18.5067 10.2 19.0573 10.648 19.524C11.096 19.972 11.6373 20.196 12.272 20.196C12.9067 20.196 13.448 19.972 13.896 19.524C14.3627 19.0573 14.596 18.5067 14.596 17.872C14.596 17.2373 14.372 16.696 13.924 16.248C13.476 15.8 12.9253 15.576 12.272 15.576ZM19.972 15.576C19.3373 15.576 18.7867 15.8 18.32 16.248C17.872 16.696 17.648 17.2373 17.648 17.872C17.648 18.5067 17.872 19.0573 18.32 19.524C18.7867 19.972 19.3373 20.196 19.972 20.196C20.6067 20.196 21.148 19.972 21.596 19.524C22.044 19.076 22.268 18.5347 22.268 17.9C22.268 17.2467 22.044 16.696 21.596 16.248C21.148 15.8 20.6067 15.576 19.972 15.576ZM25.04 3.284H8.744C8.65067 3.284 8.58533 3.312 8.548 3.368C8.52933 3.424 8.52933 3.48933 8.548 3.564L8.94 4.544C8.97733 4.61867 9.03333 4.684 9.108 4.74C9.20133 4.796 9.28533 4.824 9.36 4.824H24.424C24.4987 4.824 24.5733 4.796 24.648 4.74C24.7413 4.684 24.8067 4.61867 24.844 4.544L25.236 3.564C25.2547 3.48933 25.2453 3.424 25.208 3.368C25.1893 3.312 25.1333 3.284 25.04 3.284ZM22.576 9.416H11.208C11.1333 9.416 11.068 9.444 11.012 9.5C10.9747 9.556 10.9747 9.62133 11.012 9.696L11.404 10.676C11.4227 10.7507 11.4693 10.816 11.544 10.872C11.6373 10.928 11.7307 10.956 11.824 10.956H21.96C22.0533 10.956 22.1373 10.928 22.212 10.872C22.3053 10.816 22.3613 10.7507 22.38 10.676L22.772 9.696C22.8093 9.62133 22.8 9.556 22.744 9.5C22.7067 9.444 22.6507 9.416 22.576 9.416ZM23.808 6.336H9.976C9.90133 6.336 9.836 6.364 9.78 6.42C9.74267 6.476 9.74267 6.54133 9.78 6.616L10.172 7.596C10.1907 7.67067 10.2373 7.736 10.312 7.792C10.4053 7.848 10.4987 7.876 10.592 7.876H23.192C23.2853 7.876 23.3693 7.848 23.444 7.792C23.5373 7.736 23.5933 7.67067 23.612 7.596L24.004 6.616C24.0413 6.54133 24.032 6.476 23.976 6.42C23.9387 6.364 23.8827 6.336 23.808 6.336Z"
                        fill="currentColor" />
                  </svg>
                </i>
                {{ section.settings['button-text'] }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tp-slider-5__arrow-box">
    <div class="tp-slider-5__arrow d-flex justify-content-start  justify-content-end">
      <div class="test-next">
        <button>
          <svg
            width="19"
            height="12"
            viewBox="0 0 19 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
                d="M0.263636 6.57333L5.91564 11.764C5.99458 11.8384 6.09077 11.8978 6.19806 11.9384C6.30534 11.979 6.42135 12 6.53865 12C6.65595 12 6.77196 11.979 6.87924 11.9384C6.98653 11.8978 7.08272 11.8384 7.16167 11.764C7.32768 11.607 7.41961 11.4026 7.41961 11.1907C7.41961 10.9788 7.32768 10.7745 7.16167 10.6174L3.01737 6.81248L18.1193 6.81248C18.3586 6.79759 18.5824 6.70564 18.7458 6.55512C18.9092 6.4046 19 6.20665 19 6.00109C19 5.79553 18.9092 5.5976 18.7458 5.44707C18.5824 5.29655 18.3586 5.2046 18.1193 5.18972L3.01986 5.18972L7.16416 1.38264C7.33017 1.22557 7.42211 1.02123 7.42211 0.809328C7.42211 0.597426 7.33017 0.393097 7.16416 0.236029C7.08522 0.161692 6.98902 0.102296 6.88174 0.061657C6.77445 0.021018 6.65845 3.05176e-05 6.54114 3.05176e-05C6.42384 3.05176e-05 6.30783 0.021018 6.20055 0.061657C6.09327 0.102296 5.99707 0.161692 5.91813 0.236029L0.263636 5.41605C0.0941086 5.57374 0 5.7803 0 5.99469C0 6.20909 0.0941086 6.41564 0.263636 6.57333Z"
                fill="white" />
          </svg>
        </button>
      </div>
      <div class="test-prev">
        <button class="active">
          <svg
            width="20"
            height="13"
            viewBox="0 0 20 13"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
                d="M18.7412 5.59979L13.093 0.252121C13.0141 0.175537 12.9179 0.114323 12.8107 0.0724112C12.7034 0.030499 12.5874 0.00881207 12.4701 0.00873018C12.3528 0.00864829 12.2368 0.0301733 12.1295 0.0719356C12.0222 0.113698 11.9259 0.174777 11.8469 0.251251C11.6808 0.412833 11.5887 0.623131 11.5886 0.841279C11.5884 1.05943 11.6802 1.26985 11.8461 1.43166L15.9877 5.35167L0.88579 5.34113C0.646493 5.35629 0.422587 5.45079 0.25909 5.60564C0.0955923 5.76048 0.00462529 5.9642 0.00447755 6.17582C0.00432981 6.38744 0.0950123 6.59127 0.258294 6.74635C0.421575 6.90142 0.645348 6.99624 0.884624 7.01173L15.984 7.02227L11.837 10.9387C11.6709 11.1003 11.5788 11.3106 11.5786 11.5287C11.5785 11.7469 11.6703 11.9573 11.8362 12.1191C11.9151 12.1957 12.0112 12.2569 12.1185 12.2988C12.2257 12.3407 12.3417 12.3624 12.459 12.3625C12.5763 12.3626 12.6923 12.341 12.7997 12.2993C12.907 12.2575 13.0032 12.1964 13.0822 12.12L18.7404 6.79119C18.9101 6.62897 19.0043 6.41639 19.0045 6.19567C19.0046 5.97496 18.9107 5.76225 18.7412 5.59979Z"
                fill="white" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Home Banner",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "pricing",
      "label": "pricing"
    },
    {
      "type": "text",
      "id": "button-text",
      "label": "Button Text"
    },
    {
      "type": "text",
      "id": "button-link",
      "label": "Button Link"
    }
  ],
  "blocks": [
    {
      "type": "bannerImage",
      "name": "Banner Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "ban-img",
          "label": "Banner Iamge"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home Banner Section"
    }
  ]
}
{% endschema %}
